header{
    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    background-color: #333;
    color: wheat;
    align-items: center;
    justify-content: space-between;

    nav{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        >span{
                cursor: pointer;
                &:hover{
                    color: rgb(205, 201, 193);
                }
            }

        ul{
            list-style: none;

            li{
                cursor: pointer;
                &:hover{
                    color: rgb(205, 201, 193);
                }
            }
        }
    }
}

/* .title{
    cursor: pointer;
} */